@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bacground-color: #0d0c22;
		--bacground-color-soft: #2d2b42;
		--text-color: #f5f5f5;
		--text-color-soft: #e5e5e5;
		--button-color: #3673fd;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bacground-color);
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: inherit;
}
